.light {
    --theme-color: #A80000;
    --theme-page-background: #FFF;
    --theme-page-text: #333;
    --border: 1px solid #00000026;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: #FFF;
    --box-shadow: 0px 10px 30px #00000010;
    --border: 1px solid #9090904D;
}